body{
    margin: 0;
    overflow: overlay;
    font-family: sans-serif;
}
    .objave{
        width: 90%;
        padding-top: 100px;
        display: block;
        color:rgb(2, 56, 113) ;
        margin-left: 5%;
        margin-right: 5%;
    
    }
    .blok{
     width: 100%;
    }

    .div-prica1{
        background: rgb(56,153,255);
        background: linear-gradient(10deg, rgba(56,153,255,1) 0%, rgba(160,250,181,1) 72%);
        width: 80%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 20px;
    }

  
    .div-prica2{
        background: rgb(56,153,255);
        background: linear-gradient(250deg, rgba(56,153,255,1) 0%, rgba(160,250,181,1) 72%);
        width: 80%;
        margin-left: 20%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 20px;
        text-align: right;
    }
    .prica{
        margin: 10px;
    }
    .prica h1{
        margin-left: 10px; 
        margin-right:  10px; ;
    }
    .dodajPricu{
      display:inline-flex;
      margin-bottom:40px;
      width: 90%;
      background: rgb(56,153,255);
      background: linear-gradient(250deg, rgba(56,153,255,1) 0%, rgba(160,250,181,1) 72%);
      padding: 5%;
      border-radius: 20px;
    }
    .div-text{
      width: 65%;
    }
    .dugmence{
      width: 35%;
      text-align: center;
      padding: 30px;
    }
    .dodaj{
      text-decoration: none;
      color: white;
      border: 2px solid white;
      border-radius: 10px;
      padding: 10px;
      font-size: 40px;
    }
    @media (max-width: 600px) {
      .dodajPricu{
        display:block
      }
      .div-text{
        width: 100%;
      }
      .dugmence{
        width: 100%;
        text-align: center;
        padding:0;
        padding-top: 30px;
        padding-bottom: 10px;
      }
 
    }
    #loginbox{
      width: 220px;
      height: 160px;
      padding: 20px;
      background: linear-gradient(153deg, rgba(56,153,255,1) 0%, rgba(160,250,181,1) 100%);
      border-radius: 25px; 
      float: right;
      margin-top: 130px;
      display: none;
      z-index: 5;
      position: absolute;
      right: 20px;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.425);
    }
    #loginbox::before{
      display: block;
      content: '';
      width: 0px;
      height: 40px;
      border-bottom: 40px solid #52b1ec;
      border-left: 24px solid transparent;
      border-right: 24px solid transparent;
      margin-top: -95px;
      margin-left: 150px;
    }
    .polje_unos{
      margin-left: 10%;
      margin-right: 10%;
      width: 80%;
      height: 25px;
      border-radius: 10px;
      margin : 10px;
      border:1px solid rgb(36, 183, 71) ;
      padding: 5px;
    }
    @media screen and (max-width: 815px) {
      .navbar{
        width: 100%;
      }
      .navlinks{
        float:none;
      }
      .navbar .navlinks a {display: none;}
      .navbar .navlinks a.icon {
        float: right;
        display: block;
      }
      #loginbox{
        margin-top: 50px;
      }
    }
    
    @media screen and (max-width: 815px) {
      .navbar.responsive {position: relative;}
      .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
    }
    .logo img{
      display: inline;
      height: 60px;
      padding-left: 20px;
    }
    .dugme{
      border-radius: 10px;
      padding:7px;
      margin: 5px;
      border:1.5px solid rgb(36, 183, 71) ;
      color:rgb(36, 183, 71) ;
      font-size: 15px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
    }
    .dugme:hover{
      color:  rgba(56,136,255,1);
      border:1.5px solid rgba(56,136,255,1);
    }